cmake==3.27.9
contextlib2==21.6.0
keras==2.15.0
numpy==1.26.4
tensorflow==2.15.0
tensorflow-datasets==4.9.4
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-metadata==1.14.0
tensorflow-probability==0.23.0
tf-keras==2.15.0
tf-slim==1.1.0
tqdm==4.66.2
